* {
  margin: 0;
  padding: 0;
}

body {
  background: #1F2937;
  color: white;
}

form {
  height: 10vh;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form > input {
  height: 3em;
}

form > select {
  height: 3em;
  width: 50vw;
  padding: 0 1em ;
  background: #1F293A;
  color: #D1D5DB;
}

form > button {
  height: 3em;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid black;
  background: #3D4B60;
  color: white;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.color {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: green;
}

.color > h4 {
  height: 2em;
  width: 100%;
  padding: 1.5em;
  background: #1F2937;
}